<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dearrrfish.browser-switcher-alfredworkflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1528452E-9509-4AD5-9AB2-EA025ECD69B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6203A9C0-03C3-4959-A56F-1696A958CE0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>182DD829-9A19-4C0F-9B19-09BA1C419588</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E1F8518-ED98-42DD-8ADF-040A3EBC7F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1B744BA1-90C4-4E79-9DA5-159672FE31D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8A11764-A29E-4551-9AC2-A42C6EAF6355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3127C49F-A60B-4CDF-94C2-01BC7EA3AA71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DB211AF-865C-437F-908C-2C92664F565D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D89495C-621E-4FE8-B594-E07F9C08A826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>182DD829-9A19-4C0F-9B19-09BA1C419588</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6203A9C0-03C3-4959-A56F-1696A958CE0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6E93FD8-18B6-422C-8E65-9650923F09A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E1F8518-ED98-42DD-8ADF-040A3EBC7F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8A11764-A29E-4551-9AC2-A42C6EAF6355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DB211AF-865C-437F-908C-2C92664F565D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B744BA1-90C4-4E79-9DA5-159672FE31D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AE75E656-67D0-49D6-A15F-EAD8EEF3B6C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8A11764-A29E-4551-9AC2-A42C6EAF6355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DA6232F9-20D3-4D79-85E1-876449597D77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE75E656-67D0-49D6-A15F-EAD8EEF3B6C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F6E93FD8-18B6-422C-8E65-9650923F09A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8A11764-A29E-4551-9AC2-A42C6EAF6355</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dearrrfish</string>
	<key>description</key>
	<string>Switch current active tab between browsers and other tools.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browser Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>text</key>
				<string>BrowserSwitcher: Run action flow...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DA6232F9-20D3-4D79-85E1-876449597D77</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript main.js "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE75E656-67D0-49D6-A15F-EAD8EEF3B6C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript main.js "switch {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B744BA1-90C4-4E79-9DA5-159672FE31D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bss</string>
				<key>subtext</key>
				<string>Move or clone tab between browsers</string>
				<key>text</key>
				<string>Switch Browser</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DB211AF-865C-437F-908C-2C92664F565D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3127C49F-A60B-4CDF-94C2-01BC7EA3AA71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bsc</string>
				<key>subtext</key>
				<string>Copy URL/TITILE/SELCTION from current application</string>
				<key>text</key>
				<string>Copy Tab Info</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>182DD829-9A19-4C0F-9B19-09BA1C419588</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D89495C-621E-4FE8-B594-E07F9C08A826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Browser Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E8A11764-A29E-4551-9AC2-A42C6EAF6355</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript main.js "copy {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E1F8518-ED98-42DD-8ADF-040A3EBC7F08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript main.js "open {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6E93FD8-18B6-422C-8E65-9650923F09A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bso</string>
				<key>subtext</key>
				<string>Open URL from selection or clipboard.</string>
				<key>text</key>
				<string>Open URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6203A9C0-03C3-4959-A56F-1696A958CE0A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1528452E-9509-4AD5-9AB2-EA025ECD69B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>ver: 0.2.3</string>
	<key>uidata</key>
	<dict>
		<key>1528452E-9509-4AD5-9AB2-EA025ECD69B3</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>182DD829-9A19-4C0F-9B19-09BA1C419588</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1B744BA1-90C4-4E79-9DA5-159672FE31D6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3127C49F-A60B-4CDF-94C2-01BC7EA3AA71</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5D89495C-621E-4FE8-B594-E07F9C08A826</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6203A9C0-03C3-4959-A56F-1696A958CE0A</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6E1F8518-ED98-42DD-8ADF-040A3EBC7F08</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7DB211AF-865C-437F-908C-2C92664F565D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AE75E656-67D0-49D6-A15F-EAD8EEF3B6C7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DA6232F9-20D3-4D79-85E1-876449597D77</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E8A11764-A29E-4551-9AC2-A42C6EAF6355</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F6E93FD8-18B6-422C-8E65-9650923F09A8</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/dearrrfish/browser-switcher-alfredworkflow</string>
</dict>
</plist>
